* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(154, 154, 154);
}

a:hover {
  color: white;
  font-weight: bold;
}

input {
  font-size: large;
}

input:focus {
  outline: none;
}

.main-header {
  display: flex;
  background-color: rgb(52, 52, 52);
  align-items: center;
  color: white;
  padding: 8px;
}
.main-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  width: 100px;
}

.search-form {
  justify-items: end;
  margin-left: auto;
}

.search-form-input {
  height: 50px;
  width: 200px;
  border-radius: 8px;
}

.search-form-button {
  background-color: rgb(52, 52, 52);
  border-radius: 5px;
  border-color: rgb(224, 153, 1);
  height: 50px;
  width: 100px;
  font-size: 100%;
  color: rgb(224, 153, 1);
}

.section-header {
  margin-top: 100px;
  font-weight: 600;
  font-size: 6ch;
  font-weight: 600;
}

.email-input,
.password-input {
  height: 50px;
  width: 775px;
  margin-bottom: 50px;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-button {
  height: 50px;
  width: 75px;
  border-radius: 8px;
  background-color: rgb(0, 125, 248);
  color: white;
  font-size: 120%;
  outline: none;
}
